html {
  background-image: linear-gradient(
    to right bottom,
    #dbf735,
    #a8fa7a,
    #88f7ad,
    #87eed0,
    #a5e2de
  );
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  width: 700px;
  margin: 5px auto;
  border-radius: 15px;
  box-shadow: 0 4px 40px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}
.ul1 {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(46, 92, 6);
  transition-delay: 0.2s;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
a:hover {
  color: rgb(230, 154, 3);
  transition-delay: 0.1s;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  font-size: 18px;
}
.head {
  text-align: center;
  font-size: larger;
  margin-top: 10px;
  margin-top: 40px;
}
#about {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.head-info {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.details {
  width: 650px;
  border-radius: 30px;
  transition-duration: 0.5s;
  transform: translateY(-4px);
  transition-timing-function: ease;
}
.details:hover {
  width: 660px;
  transition-duration: 0.5s;
  box-shadow: 1px 4px 30px rgb(27, 25, 25);
  transform: translateY(-4px);
  transition-timing-function: ease;
}

#head-info-img {
  width: 300px;
  border-radius: 50%;
  margin-right: 10px;
  transition-delay: 0.2s;
  transform: translateY(-4px);
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
#head-info-img:hover {
  width: 310px;
  height: 310px;
  transition-delay: 0.2s;
  transform: translateY(-4px);
  transition-timing-function: ease;
  box-shadow: 1px 4px 30px rgb(34, 34, 33);
  transition-duration: 0.5s;
}
#head-info-para {
  width: 70%;
  margin-left: 20px;
  margin-top: 50px;
}
#skills {
  text-align: center;
  margin: 20px;
}
.ul-skills {
  text-align: center;
}
#goals {
  text-align: center;
  margin-bottom: 10px;
}
.goals {
  width: 40%;
  margin: 20px;
  padding: 30px;
  border-radius: 30px;
}
.ol-goals {
  text-align: center;
  list-style: none;
}
#tp-goals-ul {
  list-style: none;
}
.tp {
  display: flex;
  justify-content: space-around;

  margin-top: 30px;
  width: 90%;
}
.textglossary {
  border-radius: 30px;
  padding: 20px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}
#text-dl {
  text-align: center;
}
#textglossary {
  margin: 10px;
}
.pro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.projects {
  height: 250px;
  width: 200px;
  background-color: aqua;
  border-radius: 15px;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}
.projects:hover {
  height: 260px;
  width: 210px;
  transform: translateY(-10px);
  box-shadow: 15px 15px 20px black;
  transition-property: background-radius background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}
.card1 {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px;
  border-radius: 15px;
  transition-duration: 0.6s;
  transition-delay: o.2s;
}
.card1:hover {
  box-shadow: none;
  transition-duration: 0.6s;
  transition-delay: o.2s;
}
.card1-img {
  height: 50%;
  width: 100%;
}
.img1 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card1-info p {
  text-align: center;
  font-weight: 800;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.projects2 {
  height: 250px;
  width: 200px;
  background-color: aqua;
  border-radius: 15px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}
.projects2:hover {
  height: 260px;
  width: 210px;
  transform: translateY(-10px);
  box-shadow: 15px 15px 20px black;
  transition-property: background-radius background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0.2s;
}
.card2 {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px;
  border-radius: 15px;
  transition-duration: 0.6s;
  transition-delay: o.2s;
}
.card2:hover {
  box-shadow: none;
  transition-duration: 0.6s;
  transition-delay: o.2s;
}
.card2-img {
  height: 50%;
  width: 100%;
}
.img2 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card2-info p {
  text-align: center;
  font-weight: 800;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.main {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-radius: 15px;
}
#project-link {
  font-weight: 600;
  font-size: small;
}
hr {
  height: 2px;
  background-color: #000000; /* Set color */
  border: gray;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contact {
  text-align: center;
  margin-bottom: 10px;
}
.contact-details {
  text-align: center;
  padding: auto;
  margin-bottom: 30px;
}
