* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: linear-gradient(
    to left top,
    #61c7c7,
    #4d9faa,
    #407988,
    #335564,
    #25343f
  );
  background-image: linear-gradient(
    to left top,
    #61c7c7,
    #4d9faa,
    #407988,
    #335564,
    #25343f
  );
}
h1 {
  background-color: #335d7b;
  width: 60%;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  color: palegoldenrod;
}
form {
  padding: 10px;
}
fieldset {
  padding: 20px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  background-image: linear-gradient(
    to left top,
    #29d730,
    #00c299,
    #00a4df,
    #007deb,
    #4749b7
  );
  border-color: black;
}
legend {
  padding: 10px;
  font-weight: 800;
  font-size: 17px;
  color: palegoldenrod;
}
table {
  padding: 20px;
}

td {
  width: 1%;
  padding: 5px;
}
label {
  font-weight: 600;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="range"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"] {
  border-radius: 5px;
  padding: 4px;
  width: 100%;
  background-color: rgb(83, 60, 60);
  color: rgb(180, 171, 171);
}
input::placeholder {
  color: rgb(179, 148, 148);
  font-size: 12px;
  font-style: italic;
}
input:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}
p {
  color: #fcfcfb;
  font-size: small;
  background-color: rgb(83, 60, 60);
  padding: 3px;
  width: 100%;
  border-radius: 5px;
  margin-top: 3px;
  display: none;
}
input:hover + p {
  display: block;
}
