body {
  height: 100vh;
  background: url("bg.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
}

.glass {
  width: 300px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.409);
  color: white;
}
